.vs/
.vs/ProCeur.API/CopilotIndices/17.14.786.1071/CodeChunks.db
.vs/ProCeur.API/CopilotIndices/17.14.786.1071/SemanticSymbols.db
.vs/ProCeur.API/DesignTimeBuild/.dtbcache.v2
.vs/ProCeur.API/FileContentIndex/ee4e49e5-9f28-426b-9843-ac122c38969d.vsidx
.vs/ProCeur.API/config/applicationhost.config
.vs/ProCeur.API/v17/.futdcache.v2
.vs/ProCeur.API/v17/.suo
.vs/ProCeur.API/v17/DocumentLayout.backup.json
.vs/ProCeur.API/v17/DocumentLayout.json
.vs/ProjectEvaluation/proceur.api.metadata.v9.bin
.vs/ProjectEvaluation/proceur.api.projects.v9.bin
.vs/ProjectEvaluation/proceur.api.strings.v9.bin